.Typography {
  color: var(--color-text);
  font-weight: var(--font-weight-regular);
  margin: var(--spacing-s) var(--spacing-none);
}

.h1 {
  font-size: var(--font-size-1000);
}

.h2 {
  font-size: var(--font-size-900);
}

.h3 {
  font-size: var(--font-size-800);
}

.h4 {
  font-size: var(--font-size-700);
}

.h5 {
  font-size: var(--font-size-600);
}

.h6 {
  font-size: var(--font-size-500);
}

.p {
  font-size: var(--font-size-500);
}

.Typography--inline {
  font-size: var(--font-size-500);
}

.Typography--small {
  font-size: var(--font-size-200);
}

.Typography--left {
  text-align: left;
}

.Typography--center {
  text-align: center;
}

.Typography--right {
  text-align: right;
}

.Typography--italic {
  font-style: italic;
}

.Typography--semibold {
  font-weight: var(--font-weight-semi-bold);
}
