.root {
  display: inline-block;
  font-weight: var(--font-weight-medium);
  text-align: center;
  cursor: pointer;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  -webkit-tap-highlight-color: transparent;
}

/* apparences */

.outline {
  color: var(--color-primary);
  border: var(--spacing-xxs) solid var(--color-primary);
  background-color: transparent;
}

.outline:hover {
  background-color: var(--color-primary-50);
  color: var(--color-text-primary);
}

.primary {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  border: none;
}

.transparent {
  background-color: transparent;
  color: var(--color-text-primary);
  border: none;
}

.transparent:active {
  background-color: var(--color-primary-50);
}

/* shapes */

.rounded {
  border-radius: var(--border-radius-large);
}

.circular {
  border-radius: var(--border-radius-circular);
}

/* sizes */

.small {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  min-height: 30px;
  min-width: 30px;
}

.medium {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  min-height: 40px;
  min-width: 40px;
}

.large {
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  min-height: 50px;
  min-width: 50px;
}