.root {
  align-items: center;
}

.root h2 {
  margin-bottom: var(--spacing-m);
}

.list {
  gap: var(--spacing-xxl);
}

.item-group {
  flex-wrap: wrap;
  gap: var(--spacing-xl);
}

.item {
  border-radius: var(--border-radius-xlarge);
  background-color: var(--color-surface);
  height: 225px;
  width: 210px;
  padding: var(--spacing-s);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.item:hover {
  color: var(--color-text);
  background-color: var(--color-primary);
}

.item img {
  height: 70px;
  margin-bottom: var(--spacing-m);
}

.item h3 {
  text-align: center;
}

@media (max-width: 768px) {
  .item {
    max-width: 175px;
    width: 100%;
  }
}
