.Links .Section__content {
  align-items: center;
  justify-content: center;
  gap: var(--spacing-m);
  flex-direction: row !important;
}

.Links__separator {
  width: 90px;
  height: var(--spacing-xxs);
  background-color: var(--color-text);
}

.Links__link {
  fill: var(--color-text);
  cursor: pointer;
}

.Links__link svg {
  height: 40px;
  width: 40px;
}
