.cards {
  column-gap: var(--spacing-m);
  row-gap: var(--spacing-l);
  flex-wrap: wrap;
  max-width: 750px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  padding: var(--spacing-xxxl) var(--spacing-none);
}

.card {
  cursor: pointer;
  padding: var(--spacing-m) var(--spacing-xl);
  align-items: center;
  background-color: var(--color-surface);
  border-radius: var(--border-radius-large);
  min-width: 300px;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.card:hover {
  background-color: var(--color-surface1);
}

.card svg {
  margin-right: var(--spacing-m);
}

.card p {
  color: var(--color-primary);
  margin: var(--spacing-none);
}
