.root {
  background-color: var(--color-surface);
}

.title {
  position: relative;
  top: calc(-38px);
  margin: var(--spacing-none);
}

.list {
  gap: var(--spacing-xxl);
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.item {
  gap: var(--spacing-xxl);
}

.year {
  position: relative;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-medium);
  border-radius: var(--border-radius-medium) 0 0 var(--border-radius-medium);
  height: 35px;
  padding: var(--spacing-s);
  background-color: var(--color-surface1);
  margin-top: var(--spacing-s);
}

.year::after {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  border: 18px solid transparent;
  border-top-color: var(--color-surface1);
  transform: rotate(-90deg);
}

.bullet {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--font-weight-medium);
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: var(--color-primary);
  box-shadow: var(--spacing-none) var(--spacing-none) var(--spacing-m) var(--spacing-m) var(--color-primary-50);
  margin-top: var(--spacing-m);
}

.timeline {
  align-items: center;
  justify-content: center;
  padding: var(--spacing-none) var(--spacing-m);
}

.line {
  flex-grow: 1;
  width: 1.5px;
  background: var(--color-text);
  margin-top: var(--spacing-m);
}

.year--mb {
  display: none;
  color: var(--color-primary);
}

.content h3,
.content h4 {
  margin: var(--spacing-none);
}

.content p {
  color: var(--color-text-subtle);
}

.content ul {
  margin: var(--spacing-none);
}

@media (max-width: 768px) {
  .year {
    display: none !important;
  }

  .year--mb {
    display: block;
  }

  .item {
    gap: var(--spacing-snudge);
  }
}
