.App {
    color: var(--color-text);
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth;
}

.App__topButton {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    transition: 0.4s;
}

.App__topButton--show {
    opacity: 1;
    visibility: visible;
}
