.Link {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.Link--neutral {
  fill: var(--color-text);
}

.Link--primary {
  fill: var(--color-primary);
}

.Link__link svg {
  height: 40px;
  width: 40px;
}
