.WhoAmI {
    display: flex;
    align-items: center;
    height: 95vh;
}

.WhoAmI__content {
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
}

.WhoAmI__presentation {
    align-items: flex-start;
    margin-bottom: 30px;
}

.WhoAmI__presentation h1 {
    font-size: var(--font-size-1000);
    font-weight: var(--font-weight-light);
    margin: var(--spacing-xxl) var(--spacing-none);
}

.WhoAmI__links {
    margin: var(--spacing-none) var(--spacing-xl) var(--spacing-xxxl) var(--spacing-none);
    gap: var(--spacing-m);
}

.WhoAmI__link {
    height: 40px;
    width: 40px;
    fill: var(--color-primary);
    cursor: pointer;
}

.WhoAmI__buttons {
    gap: var(--spacing-m);
}

.text-emphasis {
    color: var(--color-primary);
    font-size: var(--font-size-large);
    font-weight: 600;
}

.WhoAmI__code {
    min-height: 390px;
    min-width: 555px;
    background-color: #1e1e1e;
    border-radius: var(--border-radius-large);
    padding: var(--spacing-s);
    box-shadow: var(--shadow-16);
}

.WhoAmI__code code {
    font-size: var(--font-size-500) !important;
}

.WhoAmI__code__mac-header {
    padding: var(--spacing-m) var(--spacing-m) var(--spacing-mnudge);
}

.WhoAmI__code__mac-header__button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 var(--spacing-s) 0 0;
}

.WhoAmI__code__mac-header__button[type="close"] {
    background-color: #ff5f56;
}

.WhoAmI__code__mac-header__button[type="minimize"] {
    background-color: #ffbd2e;
}

.WhoAmI__code__mac-header__button[type="maximize"] {
    background-color: #27c93f;
}

@media (max-width: 768px) {
    .WhoAmI__code {
        min-height: 330px;
        min-width: 100%;
    }

    .WhoAmI__code code {
        font-size: var(--font-size-200) !important;
    }

    .WhoAmI__content {
        justify-content: center;
    }
}
